$verde-principal: green;

@use "__fonts.scss";

.body {
  // Box model
  padding: 0;
  margin: 0;

  // Texto
  font-family: "Raleway-Bold";

  // Visual
  background-color: #666;
}

.container {
  // Box model
  display: grid;
  grid-template-rows: 4rem 18rem auto 6rem 6rem;
}

.header {
  // Box model
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 6fr 2fr 2fr;
  place-items: center;

  // Texto
  text-transform: uppercase;

  // Visual
  background-color: #c9c9c9;
  color: white;

  .boton-menu {
    // Box model
    width: 100%;
    height: 100%;

    //   Visual
    background-color: $verde-principal;

    label {
      // Box model
      display: block;
      margin-top: .5rem;

      // Texto
      text-align: center;

      img {
        // Box model
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }

  .logo {
    // Box model
    padding-left: 20px;

    // Text
    font-family: "Raleway-Bold";
    font-size: 0.9rem;

    // Visual
    color: black;
  }

  .buscador {
  }
  .carrito {
  }
}

.slider-principal {
  // Box model
  padding-top: 1rem;
}

.contenido-principal {
  // Box model
  min-height: 40rem;

  // Visual
  background-color: mediumslateblue;
}

.registrar-correo-inicio {
  // Visual
  background-color: mediumseagreen;
}

.footer {
  // Visual
  background-color: mediumorchid;
}
