@font-face {
  font-family: "Raleway-Black";
  src: local("Raleway-Black"), url("../css/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway-BlackItalic";
  src: local("Raleway-BlackItalic"), url("../css/fonts/Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"), url("../css/fonts/Raleway-Bold.ttf");
}
