<ion-card class="ion-text-center contenedor-principal">

  <ion-card-header>
    <ion-card-title class="titulo-principal">{{titulo | titlecase}}</ion-card-title>
  </ion-card-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="6" *ngFor="let producto of productosData">
        <ion-card class="ion-text-center">
          <ion-card-content>
            <ion-img [src]="producto.img[0]"></ion-img>
            <ion-card-title>{{producto.nombre}}</ion-card-title>
            <ion-card-subtitle class="precio">${{producto.precio | number}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card-header>
          <!-- <ion-card-subtitle class="ver-mas">Ver más</ion-card-subtitle> -->
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>