<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="logo" size-md="2" size-lg="2">Don Cactus Padua</ion-col>
        <ion-col size-md="4" size-sm="12" size-lg="5">
          <ion-searchbar placeholder="Buscar marcas, productos y más..." (ionChange)="onSearchChange($event)"
            inputmode="text"></ion-searchbar>
        </ion-col>
        <ion-col size="4" size-md="6" size-lg="5" class="opciones-principales-menu">
          <ion-label>Ingresar</ion-label>
          <ion-label>Crear cuenta</ion-label>
          <ion-label>Mis compras</ion-label>
          <ion-label>
            <ion-icon name="cart-outline" routerLink="/carrito" class="notification-cart">
            </ion-icon>
            <label class="notificacion" *ngIf="notificacion">{{carrito.length}}</label>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <!-- Resultado de búsquedas -->
  <div
    [ngClass]="{'contenedor-productos-inicio-activo':mostrarBuscadorCss,'contenedor-productos-inicio-culto':mostrarProductosCss}">
    <section class="resultado-busqueda">
      <ion-list>
        <ion-item *ngFor="let producto of productos | filtroPipe:textoBuscar:'nombre' | slice:0:5"
          class="item-resultado-busqueda">
          <ion-grid fixed (click)="verProducto(producto.url)">
            <ion-row>
              <ion-col size="3">
                <img [src]="producto.img" width="60px" height="60px" class="foto-item">
              </ion-col>
              <ion-col size="6">
                <h5>{{producto.nombre}}</h5>
              </ion-col>
              <ion-col size="3">
                <ion-item>
                  <ion-label class="precio">${{producto.precio | number}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </section>
  </div>


</ion-header>