<ion-card class="ion-text-center">
  <ion-grid fixed>
    <ion-row>
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header>

      <ion-card (click)="mostrarProducto(234)">
        <ion-col size="6">
          <img src="https://m.media-amazon.com/images/I/71vEmRmENHL._AC_SL1500_.jpg">
          <h4>MThe Jungle - Luminaria LED THE JACKSON LITE 100W </h4>
          <ion-card-subtitle>149,00€</ion-card-subtitle>
        </ion-col>
      </ion-card>
     


    </ion-row>
  </ion-grid>
</ion-card>