<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="growshop">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="panel-control" *ngIf="admin == true">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Panel de control</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>