<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="growshop">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="albums-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>