.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-content {
  --background: #EBEBEB;
}

.contenedor-productos-inicio-culto{
  display: none;
}

.contenedor-productos-inicio-activo{
  display: block;
}