.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorias-slide {
  padding: 1em;
}

ion-content {
  --background: #EBEBEB;
}