<ion-content>
  <div class="ion-text-center contenedor-card">
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <img src="https://i.imgur.com/w3AMTh4.jpg" class="logo-sol">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h1 class="logo-don-cactus">DON CACTUS PADUA</h1>
          </ion-col>
          <ion-col size="12">
            <h1 class="logo-don-cactus">Iniciar sesión con Google</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="contenedor-google">
              <div #googleBtn></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
          
       



</ion-content>
