<ion-card  class="ion-text-center">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
      <ion-col size="6">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/X-Site/Top_campaigns_refresh/Q2/Desktop/XCM_CUTTLE_1438089_2385325_379x304_1X_es_ES._SY304_CB635796442_.jpg" width="400" height="300">
        <ion-title>Categoría I</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>