<app-menu-principal></app-menu-principal>
<ion-content [fullscreen]="true">
    <app-slideshow></app-slideshow>
    <app-slidercategorias></app-slidercategorias>
    <app-masvendidos></app-masvendidos>
    <app-destacado></app-destacado>
    <app-grupo-categorias></app-grupo-categorias>
    <app-ofertas-destacadas></app-ofertas-destacadas>
    <app-oferta-destacada></app-oferta-destacada>
    <app-video-destacado></app-video-destacado>
    <app-slidercategorias></app-slidercategorias>
</ion-content>