<swiper #swiper [config]="config">

  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
  <ng-template swiperSlide>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Awesome Title</ion-card-title>
        <img src="https://images-eu.ssl-images-amazon.com/images/G/30/EUBluefield/Price_Perception/Freeway/XCM_CUTTLE_2328891_379x304_1X_it_IT._SY304_CB622540836_.jpg"/>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
</swiper>