<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="nuevaCategoriaFormulario.value.nombre == ''">Nueva categoría</ion-title>
    <ion-title *ngIf="!nuevaCategoriaFormulario.value.nombre == ''">{{nuevaCategoriaFormulario.value.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="nuevaCategoriaFormulario">


      <ion-item>
        <ion-label>Nombre de la categoría:</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-label class="mensaje-error" *ngIf="campoEsValido('nombre')">
        Debe de tener por lo menos cinco caracteres.
      </ion-label>
      <ion-item>
        <ion-label>URL de la foto:</ion-label>
        <ion-input formControlName="img"></ion-input>
      </ion-item>
      <ion-label class="mensaje-error" *ngIf="campoEsValido('nombre')">
        Debe de tener por lo menos cinco caracteres.
      </ion-label>

      <ion-button (click)="guardarCategoria()" expand="block" fill="clear" shape="round">
        Guardar categoría
      </ion-button>
    </form>
  </ion-card>
</ion-content>