<app-menu-principal></app-menu-principal>
<ion-content [fullscreen]="true">
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
    <li>Hola</li>
</ion-content>