<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Don Cactus Padua
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <p></p>
 
    <swiper #swiper [config]="config" (slideChange)="swiperSlideChanged($event)" >
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>
      <ng-template swiperSlide>Slide 1
        <img src="https://swiperjs.com/images/sponsors/nongamstopodds.png" width="150px" height="150px">
      </ng-template>

    </swiper>

</ion-content>